{% if event.communication %}
    {% set communication = event.communication %}
    <h3 class="h5 fw-semibold text-secondary border-bottom pb-2 mb-3">
        Contacts et réseaux sociaux
    </h3>

    <div class="d-flex flex-column gap-2 mb-3">
        {% if communication.phone1 %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span class="fw-semibold text-dark">Téléphone:</span>
                <a href="tel:{{ communication.phone1 }}" target="_blank">{{ communication.phone1 }}</a>
            </div>
        {% endif %}
        {% if communication.phone2 %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-phone"></i>
                <span class="fw-semibold text-dark">Téléphone:</span>
                <a href="tel:{{ communication.phone2 }}" target="_blank">{{ communication.phone2 }}</a>
            </div>
        {% endif %}
        {% if communication.mobile1 %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-mobile"></i>
                <span class="fw-semibold text-dark">Téléphone:</span>
                <a href="tel:{{ communication.mobile1 }}" target="_blank">{{ communication.mobile1 }}</a>
            </div>
        {% endif %}
        {% if communication.mobile2 %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-mobile"></i>
                <span class="fw-semibold text-dark">Téléphone:</span>
                <a href="tel:{{ communication.mobile2 }}" target="_blank">{{ communication.mobile2 }}</a>
            </div>
        {% endif %}
        {% if communication.mail1 %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-envelope"></i>
                <span class="fw-semibold text-dark">Email:</span>
                <a href="mailto:{{ communication.mail1 }}" target="_blank">{{ communication.mail1 }}</a>
            </div>
        {% endif %}
        {% if communication.mail2 %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-envelope"></i>
                <span class="fw-semibold text-dark">Email:</span>
                <a href="mailto:{{ communication.mail2 }}" target="_blank">{{ communication.mail2 }}</a>
            </div>
        {% endif %}
    </div>

    <div class="d-flex flex-column gap-2 mb-3">
        {% if communication.facebook %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-brands fa-facebook"></i>
                <span class="fw-semibold text-dark">Facebook:</span>
                <a href="{{ communication.facebook }}" target="_blank">{{ communication.facebook }}</a>
            </div>
        {% endif %}
        {% if communication.youtube %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-brands fa-youtube"></i>
                <span class="fw-semibold text-dark">Youtube:</span>
                <a href="{{ communication.youtube }}" target="_blank">{{ communication.youtube }}</a>
            </div>
        {% endif %}
        {% if communication.website %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-globe"></i>
                <span class="fw-semibold text-dark">Site web:</span>
                <a href="{{ communication.website }}" target="_blank">{{ communication.website }}</a>
            </div>
        {% endif %}
        {% if communication.instagram %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-brands fa-instagram"></i>
                <span class="fw-semibold text-dark">Instagram:</span>
                <a href="{{ communication.instagram }}" target="_blank">{{ communication.instagram }}</a>
            </div>
        {% endif %}
        {% if communication.flickr %}
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-brands fa-flickr"></i>
                <span class="fw-semibold text-dark">Flickr :</span>
                <a href="{{ communication.flickr }}" target="_blank">{{ communication.flickr }}</a>
            </div>
        {% endif %}
    </div>
{% endif %}