<a href="{{ event.url }}" class="bg-img">
    {% include 'agenda/list/_image.html.twig' %}
    <div>
        <!--date-->
        <div class="col-3">
            {% set dateBeginEnd = event.firstDate %}
            {% set dateBegin = dateBeginEnd.date_begin %}
            <span>{{ dateBegin|date('d') }}</span>
            <span>{{ dateBegin|date('m') }}</span>
            <span>{{ dateBegin|date('Y') }}</span>
        </div>

        <!--other datas-->
        <div class="col-9">

            <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
            <h3>{{ event.nom }}</h3>

            <small>{{ event.adresse.localiteByLanguage }}</small>

            <!--TODO JF: condition si événement sur plusieurs jours/mois/années/décénnies/...-->
            <small>
                {% for date in event.dates %}
                    {{ date.date_begin|date('d-m-Y') }} {% if loop.last != true %} | {% endif %}
                {% endfor %}
            </small>
        </div>
    </div>
</a>
