<a href="{{ event.url }}" class="bg-img">
    {% include 'agenda/list/_image.html.twig' %}
    <div>
        <!--date-->
        <div class="col-3">
            {% set horaire = event.horaires[0] %}
            {% set horline = horaire.horline %}
            <span>{{ horline.day }}</span>
            <span>{{ horline.month }}</span>
            <span>{{ horline.year }}</span>
        </div>

        <!--other datas-->
        <div class="col-9">

            <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
            <h3>{{ event.titre }} {{ event.id }}</h3>

            <small>{{ event.localisation.localite }}</small>

            <!--TODO JF: condition si événement sur plusieurs jours/mois/années/décénnies/...-->
            <small>
                {% for horaire in event.horaires %}
                {{ horaire.horline.date_deb }}
                {% endfor %}
            </small>
        </div>
    </div>
</a>
