{% extends "article/base.html.twig" %}

{% block url_back %}
    /tourisme/agenda-des-manifestations/
{% endblock %}

{% block name_back %}
    Retour aux manifestations
{% endblock %}

{% block category %}
    Agenda des manifestations
{% endblock %}

{% block content %}
    {{ event.description|raw }}<br/>
    {{ event.tarif|nl2br }}<br/>

    <h4 class="mb-2 mt-2"><strong>Date(s)</strong></h4>

    {% for date in event.dates %}
        {{ date.date_begin|format_date('full') }} {% if loop.last != true %}, {% endif %}
    {% endfor %}

    <h4 class="mb-2 mt-2"><strong>Où</strong></h4>
    {{ offre.adresse.cp }} {{ offre.adresse.localiteByLanguage }}
    ({{ offre.adresse.communeByLanguage }})<br/>
    {{ offre.adresse.latitude }}<br/>

    <h4 class="mb-2 mt-2"><strong>Renseignements</strong></h4>
    {% if event.tels|length > 1 %}
        {{ dump(event.tels) }}
    {% endif %}

    {% if event.emails|length > 1 %}
        {{ dump(event.emails) }}
    {% endif %}

    {% if event.email is defined %}
        {{ event.email }}<br/>
    {% endif %}
    {% if event.tel is defined %}
        {{ event.tel }}<br/>
    {% endif %}


    {% include 'agenda/show/_images.html.twig' %}
    {% include 'map/_carte.html.twig' %}
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        jQuery( document )
            .ready( function() {
                jQuery( '#content' )
                    .lightGallery( {
                            'selector': '.img-lightGallery'
                        }
                    );
            } );
    </script>

{% endblock %}
