{% extends "article/base.html.twig" %}

{% block url_back %}
    /tourisme/agenda-des-manifestations/
{% endblock %}

{% block name_back %}
    Retour aux manifestations
{% endblock %}

{% block category %}
    Agenda des manifestations
{% endblock %}

{% block content %}
    {% for description in event.descriptions %}
        <p>{{ description.texte|puriferHtml|raw }}</p>
    {% endfor %}

    <h4 class="mb-2 mt-2"><strong>Date(s)</strong></h4>

    {% for date in event.dates %}
        {{ date.date_deb }} {% if loop.last != true %}, {% endif %}
    {% endfor %}

    <h4 class="mb-2 mt-2"><strong>Où</strong></h4>
    {{ event.localisation.postal }} {{ event.localisation.localite }}
    <br/>
    {{ event.localisation.localite }}

    <h4 class="mb-2 mt-2"><strong>Renseignements</strong></h4>
    {% for contact in event.contacts %}
        {% if contact.lib %}
            <strong>{{ contact.lib }}</strong>   <br/>
        {% endif %}
        {% if contact.noms %}
            {{ contact.noms }} {{ contact.prenoms }} <br/>
        {% endif %}
        <br/>
        {{ contact.adresse }} {{ contact.numero }}
        <br/>
        {{ contact.postal }} {{ contact.localite }}<br/><br/>
        {% for communication in contact.communications %}
            <strong>{{ communication.name }}</strong> {{ communication.value }}
            <br/>
        {% endfor %}
    {% endfor %}

    {% include 'agenda/show/_images.html.twig' %}
    {% include 'map/_carte.html.twig' %}
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        jQuery( document )
            .ready( function() {
                jQuery( '#content' )
                    .lightGallery( {
                            'selector': '.img-lightGallery'
                        }
                    );
            } );
    </script>

{% endblock %}
