{% extends "article/base.html.twig" %}

{% block url_back %}
    /tourisme/agenda-des-manifestations/
{% endblock %}

{% block category %}
    Agenda des manifestations
{% endblock %}

{% block image %}
    {% if image is not empty %}
        <div class="bg-img w-100 h-220px position-relative h-lg-330px">
            <i style="background-image: url('{{ image }}'); background-size: cover;"
               class="position-absolute top-0 bottom-0 left-0 right-0 md-left-15px md-right-15px lg-left-0 lg-right-0"></i>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    {% for description in event.descriptions %}
        <p>      {{ description.texte|raw|nl2br }} </p>
    {% endfor %}

    <h4 class="mb-2 mt-2"><strong>Date(s)</strong></h4>
    <ul class="list-group mt-2 mb-2">
        {% for horaire in event.horaires %}
            {% for horline in horaire.horlines %}
                <li class="list-group-item">
                    {{ horline.date_deb }}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

    <h4 class="mb-2 mt-2"><strong>Où</strong></h4>
    {{ event.localisation.postal }} {{ event.localisation.localite }}
    <br/>
    {{ event.localisation.localite }}

    <h4 class="mb-2 mt-2"><strong>Contacts</strong></h4>
    {% for contact in event.contacts %}
        {% if contact.lib %}
            <strong>{{ contact.lib }}</strong>   <br/>
        {% endif %}
        {% if contact.noms %}
            {{ contact.noms }} {{ contact.prenoms }} <br/>
        {% endif %}
        <br/>
        {{ contact.adresse }} {{ contact.numero }}
        <br/>
        {{ contact.postal }} {{ contact.localite }}<br/><br/>
        {% for communication in contact.communications %}
            <strong>{{ communication.name }}</strong> {{ communication.value }}
            <br/>
        {% endfor %}
    {% endfor %}

    {% include 'agenda/show/_images.html.twig' %}
    {% include 'map/_carte.html.twig' %}

{% endblock %}
