{% extends "article/base.html.twig" %}

{% block url_back %}
    /tourisme/agenda-des-manifestations/
{% endblock %}

{% block name_back %}
    Retour aux manifestations
{% endblock %}

{% block category %}
    Agenda des manifestations
{% endblock %}

{% block content %}

    {% for description in event.descriptionsByLanguage('fr') %}
        {% if description.urn == 'urn:fld:descmarket' %}
            <p>{{ description.value|raw }}</p>
        {% endif %}
        {% if description.urn == 'urn:fld:desccirc' %}
            {{ description.value|raw }}
        {% endif %}
    {% endfor %}

    {% for tarif in event.tarifs %}
        {{ tarif.value|raw }}<br/>
    {% endfor %}

    <br/>
    <h4 class="mb-2 mt-2"><strong>Date(s)</strong></h4>

    {% for date in event.dates %}
        <span class="font-montserrat-semi-bold text-cta-dark">
                {% if date.isPeriod %}
                    De {{ date.date_begin|format_date('full') }} à {{ date.date_end|format_date('full') }}
                {% else %}
                    {{ date.date_begin|format_date('full') }}
                {% endif %}
            </span>
    {% endfor %}

    <h4 class="mb-2 mt-2"><strong>Contact</strong></h4>
    {% if event.adresse_rue|length > 0 %}
        {{ event.adresse_rue[0].value }}<br/>
    {% endif %}
    {{ event.adresse1.rue }} {{ event.adresse1.numero }}<br/>
    {{ event.adresse1.cp }}  {{ event.adresse.localiteByLanguage }} <br/>

    <h4 class="mb-2 mt-2"><strong>Renseignements</strong></h4>
    {% if event.tels|length > 0 %}
        <br/><strong>Téléphone:</strong>  <span>{{ event.tels|join }}</span><br/>
    {% endif %}

    {% if event.emails|length > 0 %}
        <br/><strong>Courriel:</strong> <span> {{ event.emails|join }}</span><br/>
    {% endif %}

    {% if event.webs|length > 0 %}
        {% for web in event.webs %}
            <br/><strong>Site:</strong> <a href="{{ web.value }}">{{ web.value }}</a><br/>
        {% endfor %}
        <br/>
    {% endif %}

    {% if event.homepage is defined %}
        <br/><strong>Site web:</strong>  <a href="{{ event.homepage }}">{{ event.homepage }}</a><br/>
    {% endif %}

    {# % include 'agenda/show/_specifications.html.twig' % #}
    {% include 'agenda/show/_images.html.twig' %}
    {% include 'map/_carte.html.twig' %}
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        jQuery(document)
            .ready(function () {
                jQuery('#content')
                    .lightGallery({
                            'selector': '.img-lightGallery'
                        }
                    );
            });
    </script>

{% endblock %}
