 <!--
http://sachinchoolur.github.io/lightslider/examples.html

-->
<script type="text/javascript" src="{{ template_directory }}/assets/js/utils/carousel-config.js"></script>

<div class="bg-lighter">
    <!-- cs-hidden d-flex align-items-center justify-content-between2 py-24px px-16px mw-1616px m-xl-auto -->
    <div id="lightSlider" class="">

        <!--visible from landscape&&extralarge
        <button class="d-none border-0 h-66px col py-11px px-ls-20px text-center d-xl-block bg-none icon_custom">
            <i class="i-angle-left i-dark-primary d-block h-100 m-auto bg-size-auto"></i>
        </button>-->

        <!--always visible-->
        <a href="https://www.famenneardenne.be/" class="lslide col py-11px px-ls-20px text-center order-ls-md-2 order-md-2 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor01.png" alt="img_partner_1"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <a href="https://cap.marche.be/" class="lslide col py-11px px-ls-20px text-center order-ls-md-3 order-md-3 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor02.png" alt="img_partner_2"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <a href="http://www.paysdefamenne.be/" class="lslide col py-11px px-ls-20px text-center order-ls-md-5 order-md-5 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor03.png" alt="img_partner_3"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>

        <!--visible from landscape&&medium / medium-->
        <a href="/economie" class="lslide d-none d-ls-md-block col py-11px px-ls-20px text-center d-md-block filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor04.png" alt="img_partner_4"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <a href="https://mcfa.marche.be/"
           class="lslide d-none d-ls-md-block col py-11px px-ls-20px text-center order-ls-md-4 d-md-block order-md-4 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor05.png" alt="img_partner_5"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>

        <!--visible from landscape&&extralarge
        <button class="d-none order-7 border-0 h-66px col py-11px px-ls-20px text-center d-xl-block bg-none icon_custom">
            <i class="i-angle-right i-dark-primary d-block h-100 m-auto bg-size-auto"></i>
        </button>-->
    </div>
</div>
