<!--
http://sachinchoolur.github.io/lightslider/examples.html

-->
<script type="text/javascript" src="{{ template_directory }}/assets/js/utils/carousel-config.js"></script>

<div class="bg-lighter">
    <!-- cs-hidden d-flex align-items-center justify-content-between2 py-24px px-16px mw-1616px m-xl-auto -->
    <div id="lightSlider" class="">

        <!--visible from landscape&&extralarge
        <button class="d-none border-0 h-66px col py-11px px-ls-20px text-center d-xl-block bg-none icon_custom">
            <i class="i-angle-left i-dark-primary d-block h-100 m-auto bg-size-auto"></i>
        </button>-->

        <!--always visible-->
        <a style="cursor: pointer;" href="https://cap.marche.be/"
           class="lslide col py-11px px-ls-20px text-center order-ls-md-1 order-md-1 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor02.png" alt="cap commerçant"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <a style="cursor: pointer;" href="https://www.visitmarche.be/"
           class="lslide col py-11px px-ls-20px text-center order-ls-md-2 order-md-2 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/visit_logo_b.png" alt="visit marche"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <a style="cursor: pointer;" href="/economie"
           class="lslide col py-11px px-ls-20px text-center order-ls-md-3 order-md-3 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/ADL.png" alt="economie"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <!--visible from landscape&&medium / medium-->
        <a style="cursor: pointer;" href="http://www.paysdefamenne.be/"
           class="lslide d-none d-ls-md-block col py-11px px-ls-20px text-center order-ls-md-4 d-md-block order-md-4 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor03.png" alt="pays de famenne"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <a style="cursor: pointer;" href="https://www.famenneardenne.be/"
           class="lslide d-none d-ls-md-block col py-11px px-ls-20px text-center order-ls-md-5 d-md-block order-md-5 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor01.png" alt="famenne ardenne"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <a style="cursor: pointer;" href="https://mcfa.marche.be/"
           class="lslide d-none d-ls-md-block col py-11px px-ls-20px text-center order-ls-md-6 d-md-block order-md-6 filtred">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor05.png" alt="maison de la culture"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>
        <a style="cursor: pointer;" href="https://artistes.marche.be/"
           class="lslide d-none d-ls-md-block col py-11px px-ls-20px text-center order-ls-md-7 d-md-block order-md-7 filtred">
            <img src="{{ template_directory }}/assets/images/artistes.png" alt="artistes"
                 class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
        </a>


        <!--visible from landscape&&extralarge
        <button class="d-none order-7 border-0 h-66px col py-11px px-ls-20px text-center d-xl-block bg-none icon_custom">
            <i class="i-angle-right i-dark-primary d-block h-100 m-auto bg-size-auto"></i>
        </button>-->
    </div>
</div>
