{% extends "article/base.html.twig" %}

{% block url_back %}
    {{ urlBack }}
{% endblock %}

{% block name_back %}
    Retour à {{ nameBack|puriferHtml|raw }}
{% endblock %}

{% block content %}

    <h4 class="mt-3"><strong>Situation</strong></h4>
    {% if permis.adresseSituation %}
        {{ permis.adresseSituation.rue }} {{ permis.adresseSituation.numero }} {{ permis.adresseSituation.boite }}<br/>
        {{ permis.adresseSituation.codePostal }} {{ permis.adresseSituation.localite }}
    {% endif %}

    <h4 class="mt-3"><strong>Numéro délivré</strong></h4>
    {{ permis.numeroPermisDelivre }}

    <h4 class="mt-3"><strong>Nature</strong></h4>
    {{ permis.urbain }}<br />
    {{ permis.natureTexteLibre }}<br/>
    {{ permis.nature.libelle }}<br/>

    <h4 class="mt-3"><strong>Demandeur(s)</strong></h4>
    <ul class="list-group">
        {% for demandeur in permis.demandeurs %}
            <li class="list-group-item">
                {{ demandeur.civilite }} {{ demandeur.nom }} {{ demandeur.prenom }}
            </li>
        {% endfor %}
    </ul>

    {% if enquete %}
        {% include 'enquete/_enquete.html.twig' %}
    {% endif %}

    {% if annonce %}
        {% include 'enquete/_annonce.html.twig' %}
    {% endif %}

    {% if documents|length > 0 %}
        {% include 'enquete/_documents.html.twig' %}
    {% endif %}

    <p class="text-muted">
        ---------------------------------------------------------------------
        Conformément aux dispositions du Règlement général sur la protection des données (RGPD) 2016/679 du Parlement
        européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement
        des données à caractère personnel et à la libre circulation de ces données, les informations publiées font
        l’objet d’un traitement par :<br/><br/>

        - le Responsable du traitement des données : la Ville de Marche-en-Famenne, dont les bureaux sont établis
        Boulevard du Midi n° 22 à 6900 Marche-en-Famenne
        <br/><br/>
        Pour la finalité suivante : enquête publique conformément au CoDT.<br/>
        Les destinataires de ces données sont : la Ville de Marche-en-Famenne.<br/>
        La durée de conservation des données correspond à la durée de conservation du dossier de permis d'urbanisme pour
        lequel l'enquête est réalisée.<br/>
        Les titulaires des données personnelles collectées bénéficient d’un droit d’accès, de rectification, de
        portabilité, d’effacement de celles-ci ou une limitation du traitement.<br/>
        Ils peuvent obtenir des informations sur le traitement des données les concernant ou s'opposer au traitement de
        celles-ci.<br/>
        <strong>Le présent document reste propriété de la Ville de Marche-en-Famenne, toute reproduction, diffusion ou
            utilisation à d'autres fins que celle mentionnée ci-dessus étant strictement interdite.</strong>
    </p>

    {% include 'map/_carte.html.twig' %}
{% endblock %}
