{% include 'enquete/_statuts.html.twig' %}
{% include 'enquete/_types.html.twig' %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Catégorie</th>
        <th>Demandeur</th>
        <th>Adresse</th>
        <th>Consultez</th>
        <th>Consultez</th>
        <th>Consultez</th>
        <th>Consultez</th>
        <th>Consultez</th>
    </tr>
    </thead>
    <tbody>
    {% for enquete in enquetes %}
        <tr>
            <td>{{ enquete.id }}</td>
            <td>{{ enquete.numeroPermis }}</td>
            <td>{{ enquete.typePermis.libelle }}</td>
            <td>{{ enquete.dateRecepisse }}</td>
            <td>{{ enquete.nature.libelle }}</td>
            <td>{{ enquete.typeStatut.libelle }}</td>
            <td>{{ enquete.adresseSituation.rue }} {{ enquete.adresseSituation.numero }} {{ enquete.adresseSituation.codePostal }} {{ enquete.adresseSituation.localite }}</td>
            <td>{{ enquete.typeStatut.libelle }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
