{% extends "article/base.html.twig" %}

{% block url_back %}
    {{ urlBack }}
{% endblock %}

{% block name_back %}
    Retour à {{ nameBack|puriferHtml|raw }}
{% endblock %}

{% block content %}

    <h4 class="mt-3"><strong>Demandeur</strong></h4>

    {{ enquete.demandeur }}

    <p>
        {{ enquete.intitule }}
    </p>

    <h4><strong>Dates d'affichage</strong></h4>
    <span>
        Du {{ enquete.date_debut | date('d-m-Y') }}
        au {{ enquete.date_fin | date('d-m-Y') }}
    </span>
<p> </p>
    <h4><strong>Situation du projet</strong></h4>
    <span>
        {{ enquete.rue }}
        {{ enquete.numero }} <br/>
        {{ enquete.code_postal }}
        {{ enquete.localite }}
    </span>

    {{ enquete.description|raw }}

    <p>
        <a href="{{ enquete.avis }}">Consulter l'avis</a>
    </p>

    {% include 'map/_carte.html.twig' %}
{% endblock %}
