{% extends "article/base.html.twig" %}

{% block url_back %}
    {{ urlBack }}
{% endblock %}

{% block name_back %}
    Retour à {{ nameBack|puriferHtml|raw }}
{% endblock %}

{% block content %}

<p>

    <a href="{{ enquete.avis }}">Consulter</a>

    {{ enquete.demandeur }} {{ enquete.categorie }}
    {{ enquete.date_debut | date('d-m-Y') }}
    {{ enquete.date_fin | date('d-m-Y') }}
    {{ enquete.rue }}
    {{ enquete.numero }}
    {{ enquete.code_postal }}
    {{ enquete.localite }}

</p>
    {{ content|raw }}

    {% include 'map/_carte.html.twig' %}
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        jQuery( document )
            .ready( function() {
                jQuery( '#content' )
                    .lightGallery( {
                            'selector': '.img-lightGallery'
                        }
                    );
            } );
    </script>

{% endblock %}
