<a href="{{ actu.url }}" class="bg-img">
    {% include 'news/_image.html.twig' %}
    <div class="col py-18px pl-28px pr-14px text-left lh-0 px-lg-16px">

        <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
        <h3 maxlenght="0">{{ actu.post_title }}</h3>

        <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
        <p maxlenght="170">{{ actu.post_excerpt }}</p>

        <!--TODO JF: classe dynamique-->
        <span class="{{ actu.color }}">{{ actu.blog|title }}</span>
    </div>
</a>
