<a href="{{ actu.permalink }}" class="bg-img">
    {% include 'news/list/_image.html.twig' %}
    <div class="col py-18px pl-28px pr-14px text-left lh-0 px-lg-16px">

        <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
        <!--hide from landscape / medium-->
        <h3 class="d-ls-none d-md-none" maxlenght="0">{{ actu.post_title }}</h3>

        <!--visible from landscape / medium-->
        <h3 class="d-none d-md-block d-ls-block" maxlenght="0">{{ actu.post_excerpt }}</h3>

        <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
        <p maxlenght="170">{{ actu.post_title }}</p>

        <!--TODO JF: classe dynamique-->
        <span class="{{ actu.color }}">{{ actu.blog|title }}</span>
    </div>
</a>
