{% if fiche.gsm %}
    <div class="text-dark-primary pt-20px col-ls-6 pt-ls-0 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">Mobile</h4>
        <a href="tel:{{ fiche.gsm }}" class="fs-short-2 pt-8px d-block text-dark-primary">{{ fiche.gsm }}</a>
    </div>
{% endif %}

{% if fiche.fax %}
    <div class="text-dark-primary pt-20px col-ls-6 pt-ls-0 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">fax</h4>
        <a href="tel:{{ fiche.fax }}" class="fs-short-2 pt-8px d-block text-dark-primary">{{ fiche.fax }}</a>
    </div>
{% endif %}

{% if fiche.facebook %}
    <div class="text-dark-primary pt-20px col-ls-6 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">Facebook</h4>
        <a href="{{ fiche.facebook }}" target="_blank"
           class="fs-short-2 pt-8px d-block text-dark-primary">{{ fiche.facebook }}</a>
    </div>
{% endif %}

{% if fiche.instagram %}
    <div class="text-dark-primary pt-20px col-ls-6 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">Instagram</h4>
        <a href="{{ fiche.instagram }}" target="_blank"
           class="fs-short-2 pt-8px d-block text-dark-primary">{{ fiche.instagram }}</a>
    </div>
{% endif %}

{% if fiche.twitter %}
    <div class="text-dark-primary pt-20px col-ls-6 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">Twitter</h4>
        <a href="{{ fiche.twitter }}" target="_blank"
           class="fs-short-2 pt-8px d-block text-dark-primary">{{ fiche.twitter }}</a>
    </div>
{% endif %}

<h3>Contact</h3>
<hr/>
{% if fiche.nom %}
    <br/>{{ fiche.civilite }} {{ fiche.nom }} {{ fiche.prenom }}<br/>
{% endif %}

{% if fiche.contact_telephone or fiche.contact_telephone_autre %}
    <div class="text-dark-primary pt-20px col-ls-6 pt-ls-0 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">Téléphone du contact</h4>
        <a href="tel:{{ fiche.contact_telephone }}"
           class="fs-short-2 pt-8px d-block text-dark-primary">{{ fiche.contact_telephone }}</a>
    </div>
    {% if fiche.contact_telephone_autre %}
        - {{ fiche.contact_telephone_autre }}
    {% endif %}
{% endif %}

{% if fiche.contact_gsm %}
    <div class="text-dark-primary pt-20px col-ls-6 pt-ls-0 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">Mobile</h4>
        <a href="tel:{{ fiche.contact_gsm }}" class="fs-short-2 pt-8px d-block text-dark-primary">
            {{ fiche.contact_gsm }}
        </a>
    </div>
{% endif %}

{% if fiche.contact_fax %}
    <div class="text-dark-primary pt-20px col-ls-6 pt-ls-0 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">Fax</h4>
        <a href="tel:{{ fiche.contact_fax }}" class="fs-short-2 pt-8px d-block text-dark-primary">
            {{ fiche.contact_fax }}
        </a>
    </div>
{% endif %}

{% if fiche.contact_email %}
    <div class="text-dark-primary pt-20px col-ls-6 px-ls-12px col-ls-md-12 pt-ls-md-20px">
        <h4 class="ff-semibold fs-short-1">Adresse e-mail</h4>
        <a href="mailto:{{ fiche.contact_email }}"
           class="fs-short-2 pt-8px d-block text-dark-primary">{{ fiche.contact_email }}</a>
    </div>
{% endif %}

{% if fiche.comment1 is defined %}
    <p>{{ fiche.comment1|raw|nl2br }}</p>
{% endif %}
{% if fiche.comment2 is defined %}
    <p>{{ fiche.comment2|raw|nl2br }}</p>
{% endif %}
{% if fiche.comment3 is defined %}
    <p>{{ fiche.comment3|raw|nl2br }}</p>
{% endif %}
