<!--CONTENT-->
<section id="content"
         class="pt-42px pb-36px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px pb-lg-66px mw-1440px mx-xl-auto w-100">

    <!--DIRECTORY-->
    <div class="bg-white pt-24px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column">

        <!--back | TODO JF: lien dynamique vers la page précédente-->
        <a href="{% if urlBack %} {{ urlBack }}{% else %}javascript:window.history.back();{% endif %}"
           class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                    class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>Retour </a>

        <!--title-->
        <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">{{ title }}</h2>

        <!--category-->
        <span class="{{ color }} ff-semibold pt-12px d-block fs-short-2">{{ blogName }}</span>

        <!--directory-->
        <div class="pt-48px d-lg-flex mx-n15px ml-lg-0">
            <div class="d-flex flex-column align-items-center flex-md-wrap flex-md-row align-items-md-start flex-lg-column col-lg-8 mx-md-0 flex-lg-nowrap px-md-0">
                <!--img/datas-->
                <div class="bg-img w-100 h-auto position-relative h-lg-368px d-flex pr-md-15px">

                    <!--img-->
                    {% include 'fiche/_logo.html.twig' %}

                    <!--datas-->
                    {% include 'fiche/_data.html.twig' %}
                </div>

                <!--OBJECT | TAGS-->
                <div class="overflow-hidden w-100 pt-24px col-md-12 px-0 px-md-15px d-lg-none">
                    <ul class="object-tags">
                        {% for category in tags %}
                            <li><a href="{{ category.url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!--OBJECT | TEXT-DYN | TODO JF : brancher la possibilité d'ouvrir/réduire le content avec un ellipsis + condition sur l'extend-->
                {% include 'fiche/_content.html.twig' %}

                <!--OBJECT | SHARE-->
                <div class="pt-24px w-100 col-md-4 px-0 px-md-15px d-lg-none">
                    <h4 class="text-dark-primary fs-basic text-right text-lg-left">Partagez l'article via</h4>
                    <div class="pt-12px pt-md-16px object-share">
                        {% include 'article/_share_links.html.twig' %}
                    </div>
                </div>

                <!--OBJECT | RECOM-->
                <div class="pt-24px w-100 col-md-8 px-0 px-md-15px d-lg-none">
                    <h4 class="text-dark-primary ff-semibold fs-basic">Consultez aussi</h4>
                    <div class="pt-12px object-recom">
                        {% include 'article/_recommandations.html.twig' %}
                    </div>
                </div>
            </div>

            <div class="d-none d-lg-flex col-4 flex-column h-368px justify-content-between">

                <!--OBJECT | SHARE-->
                <div class="w-100">
                    <h4 class="text-dark-primary fs-basic text-right text-lg-left">Partagez l'article via</h4>
                    <div class="pt-12px pt-md-16px object-share">
                        {% include 'article/_share_links.html.twig' %}
                    </div>
                </div>

                <!--OBJECT | TAGS-->
                <div class="overflow-hidden w-100 pt-24px">
                    <ul class="object-tags">
                        {% for category in tags %}
                            <li><a href="{{ category.url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!--OBJECT | RECOM-->
                <div class="pt-24px w-100">
                    <h4 class="text-dark-primary ff-semibold fs-basic">Consultez aussi</h4>
                    <div class="pt-22px object-recom">
                        {% include 'article/_recommandations.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
