{% set actu = actus[3] %}
<li class="pt-8px col-ls-lg-4 px-ls-lg-4px d-none d-ls-lg-block d-lg-block col-lg-4 px-lg-4px">
    <a href="{{ actu.permalink }}"
       class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
        {% include 'homepage/news/_image.html.twig' %}
        <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
            <span class="lh-150 ff-semibold fs-short-3 {{ actu.color }}">{{ actu.blog | title }}</span>
            <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary text-hover-primary transition-all">{{ actu.post_title }}</h3>
        </div>
    </a>
</li>
{% set actu = actus[4] %}
<li class="pt-8px col-ls-lg-4 px-ls-lg-4px d-none d-ls-lg-block d-lg-block col-lg-4 px-lg-4px">
    <a href="{{ actu.permalink }}"
       class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
        {% include 'homepage/news/_image.html.twig' %}
        <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
            <span class="lh-150 ff-semibold fs-short-3 {{ actu.color }}">{{ actu.blog | title }}</span>
            <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary text-hover-primary transition-all">{{ actu.post_title }}</h3>
        </div>
    </a>
</li>
{% set actu = actus[5] %}
<li class="pt-8px col-ls-lg-4 px-ls-lg-4px d-none d-ls-lg-block d-lg-block col-lg-4 px-lg-4px">
    <a href="{{ actu.permalink }}"
       class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
        {% include 'homepage/news/_image.html.twig' %}
        <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
            <span class="lh-150 ff-semibold fs-short-3 {{ actu.color }}">{{ actu.blog | title }}</span>
            <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary text-hover-primary transition-all">{{ actu.post_title }}</h3>
        </div>
    </a>
</li>
